* {
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

html {
	
	background-image: url("../img/apply.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	
}

h1 {
	margin-bottom: 20px;
}

h2, h3 {
	margin: 12px 0;
}

.wrap-main {
	height: auto !important;
    height: 100%;  
    min-height: 100%;
	width: 75%;
	min-width: 670px; 
	overflow-y: auto;
	background: #fff;
	margin: 0 auto;
}

.wrap-footer {
	height: 42px;
    margin: -42px auto 0;
	width: 75%;
}

.container {
	padding-bottom: 42px;
}

.header, .footer {
	background: #768473; 
	text-align: center; 
	color: #ffffff;
	padding: 10px;
}

.header {
	font-size: 30px;
}

.header a {
	color: #fff;
	text-decoration: none;
	
}

.content {
	padding: 10px 20px;
	font-size: 14px;
}

.content p {
	padding-bottom: 6px;
    padding-top: 6px;
    text-align: justify;
}

.breadcrumbs {
	padding	: 10px;
	font-size: 12px;
}

.main-menu {
	text-align: center;
	margin: 20px 0;
}
.main-menu  ul {
	padding: 0;
}

.main-menu ul li {
	display: inline-block;
    list-style: none;
    text-align: center;
}

.main-menu ul li a {
	text-decoration: none;
	color: #393939;
    font-size: 18px;
	padding: 10px;
	line-height: 34px;
	background: #CFD1E0;
    border: 1px solid #6B6B6B;
	border-bottom: 2px solid #6B6B6B;
}
	
.main-menu ul li:hover a {
	background: #768473;
	color: #fff;
}

.article h2 {
	margin-top: 30px;
	border-bottom: 1px solid #393939;
}

.article h2 a {
	text-decoration: none;
	color: green;	
}

.article p.descr {
	background: rgba(222, 184, 135, 0.5);
}

.article p.descr a:hover {
	text-decoration: none;
	color: #393939;
}

.article p.gotocomments a {
	color: #a6a6a6;
}

.content.content-article h1 {
	text-align: center;
}

.content.content-article > p:first-letter {
	color: green;
	font-weight: bold;
	font-size: 18px;
}

.content-article .comments{
	margin: 20px 10px;
	border-top: 1px solid #dedede;
	
}

.content-article .comments .comment {
	margin-bottom: 22px; 
}

.content-article .comments .comment h4 {
	font-size: 14px;
}

.content-article .comments .comment blockquote {
	margin: 10px;
    border: 1px dotted #a1a1a1;
}

.content-article .comments .comment blockquote p {
	padding: 8px;
}

.comment > p {
	font-size: 10px;
	margin-left: 10px;
	
}

.content ul.cat > li {
	list-style-image: url('../img/ico/stock_mail_filters_apply.png');
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}

.content ul.cat li ul.subcat li {
	list-style: disc;
	font-size: 14px;
	font-weight: normal;
}
 
li.new:after {
	content: 'new';
	background: green;
	color: #fff;
	text-transform: lowercase;
	padding: 0px 4px;
    border-radius: 4px;
	position: relative;
	top: -4px;
}

.gallery {
	text-align: center;
	background: url(../img/cement-texture.jpg) repeat;
	padding: 20px 0;
    color: #fff;
}

.gallery-item  {
	display: inline-block;
	padding: 4px;
	text-align: center;
	width: 230px;
	height: 275px;
}
.gallery-item p {
	text-align: center;
}

.gallery-item  img {
	height: 200px;
	max-width: 210px;
	outline: 4px solid #393939;
}

.gallery-item  a:hover img {
	outline: none;
}

form.registration fieldset > div {
	margin: 0 0 4px 0;
}

form.registration  input[type="text"],
form.registration  input[type="tel"],
form.registration  input[type="email"],
form.registration  input[type="password"],
form.registration  input[type="date"],
form.contacts  input[type="text"],
form.contacts  input[type="tel"],
form.contacts  input[type="email"] {
	margin: 4px 0;
	padding: 4px;
	width: 300px;
}

form.registration  input[type="radio"],
form.registration  input[type="file"],
form.registration  input[type="checkbox"] {
	margin: 4px 0;
}

form.registration  label.border-check   input[type="checkbox"]{
	padding: 2px;
}


label.border-check {
	padding: 2px;
    display: block;
    width: 307px;
	border: 1px dotted transparent;
}

label.border-check:hover{
	border: 1px dotted #393939;
}


form.registration  input[type="text"].fio,
form.contacts  input[type="text"].fio,
form.contacts  input[type="text"].fio:focus,
form.registration  input[type="text"].fio:focus {
	text-transform: capitalize;
}

form.registration  input[type="password"] {
	width: 200px;
}

form.registration  input[type="email"]:focus,
form.contacts  input[type="email"]:focus {
	color: green;
    background: #dadada;
} 

form.registration  input[type="submit"],
form.registration  input[type="reset"],
form.contacts  input[type="submit"] {
	font-weight: bold;
}

form.registration  input[type="submit"]:active {
	color: green;
}

form.registration  input[type="reset"]:active {
	color: red;
}

.main fieldset {
	border: 0px solid;
	margin: 0;
	padding: 0;
}

table {
	margin: 10px;
    border: 1px solid #393939;
    border-collapse: collapse;
    border-spacing: 0px;
}

caption {
	font-weight: bold;
	padding: 6px 0;
	text-align: left;
}

td {
	border: 1px solid #393939;
	padding: 4px;
}

.registration tr:hover td{
	background: beige;
}

table.ex-1 td {
	width: 150px;
}

table.ex-1 td.long {
	width: 309px;
}


table.insite {
	margin: 0 auto;
}

table.insite  td {
	width: 60px;
	background: #768473;
	color: #fff;
}

td.btn {
	text-align: center;
}



label.last-name:hover td {
	background: green;
}




